/*********************************************************************************/
/* TABLE (REACTIVE TABLE)                                                                        */
/*********************************************************************************/
.tableimages {
  width:50%;
  overflow: hidden;
  max-height: 20em;
}
/* headings */
.reactive-table .sortable {
  color: #0072bb;
}

/* data inside the table */
#table-container {
  color: #0072bb;
}

table {
  border-color: red;
}

.thumbnail {
  margin-bottom: 0;
}
/*********************************************************************************/
/* NAVBAR                                                                        */
/*********************************************************************************/
.navbar {
  background-color: #ffdf00;
}

.navbar a {
  font-weight: 500;
  letter-spacing: 2px;
}

/* GENERAL NAV BAR TEXT */
.navbar-default .navbar-brand,
#navbar-collapse > ul > li > a {
  color: #0072bb; 
}

.navbar-default .navbar-brand,
.navbar-right {
  text-transform: uppercase;
}


#navbar-collapse > ul > li > a:hover {
  color: #f99621;
  background-color: #0072bb;
}

#navbar-collapse > ul:nth-child(n) > li.dropdown.open {
  color: #f99621;
  background-color: #0072bb;
}

.dropdown-menu {
  background-color: #82c13f !important;
}



/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
header
{
  margin-bottom: 1em;
}

  header p
  {
    display: block;
    margin: 0.5em 0 0 0;
    padding: 0 0 1.5em 0;
  }

  #header
  {
    position: relative;
    color: #252175;
    text-shadow: 0 0 0.5px rgba(255,255,255,0.25);
    text-align: center;
    margin: 0;
    padding: 7em 0 7em 0;
    cursor: default;
  }

  #header #logo {
    width: 80%;
  }
    #header span { color: #009ae2 }

    #header span#two { color: #f99621 }
    #header span#zero { color: #ffdf00 }
    #header span#one { color: #82c13f }
    #header span#four { color: #0072bb }
    
    #header header
    {
      display: inline-block;
      padding: 1.0em 1.0em 2.5em 1.0em;
      background-color: white;
      border-radius: 50px;
    }
    
      #header header h1
      {
        font-weight: 600;
        font-size: 2em;
        letter-spacing: 10px;
      }

      #header header p
      {
        border-top: solid 1px rgba(255,255,255,0.5);
        color: rgba(255,255,255,0.75);
        text-shadow: 0 0 0.5px rgba(255,255,255,0.1875);
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 0;
        margin-top: 0.35em;
      }
      
        #header header p:before
        {
          content: '';
          display: block;
          border-top: solid 1px rgba(255,255,255,0.5);
          margin: 4px 0 0.8em 0;
        }


/*********************************************************************************/
/* CODES                                                                        */
/*********************************************************************************/
#codes {
  float: right;
}

/*********************************************************************************/
/* GLOBAL TEXT                                                             */
/*********************************************************************************/
.contact-text {
  color: #0072bb;
  text-shadow: 0 0 0.5px rgba(255,255,255,0.15);
  font-weight: 500;
  letter-spacing: 2px;
}

#codes, 
.footer,
#charges {
  color: #0072bb;
  text-shadow: 0 0 0.5px rgba(255,255,255,0.15);
  font-size: 0.7em;
}

/*.form-control:focus, .form-control:focus + span .btn{
    border-color:#ffdf00;
    box-shadow:none;
}*/

.form-control:focus {
  border-color: #ffdf00;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(255,223,0, 0.5), 0 0 8px rgba(255,223,0, 0.2);
          box-shadow: inset 0 1px 1px rgba(255,223,0, 0.5), 0 0 8px rgba(255,223,0, 0.2);
}

#contact-container {
  color: #252175;
  text-shadow: 0 0 0.5px rgba(255,255,255,0.25);
  text-align: center;
  padding: 4em 0 4em 0;
  cursor: default;
}

#mapleleaf img {
  max-width: 2em;
  float: left;
}

@media (max-width: 1090px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}


.modal-megamenu {
    width:80%;
    height:80%;
    margin: 10% auto;
}
.modal-body {
    max-height:500px;
    overflow:auto;
}
.modal-content {
    height: 100%;
}