.showBackgroundImage { 
  background: url(pioneerlinebackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-weight: 600;
  font-size: 2em;
  letter-spacing: 10px;
  color: #252175;

}


/*********************************************************************************/
/* TABLE (REACTIVE TABLE)                                                                        */
/*********************************************************************************/
.tableimages {
  width:50%;
  overflow: hidden;
  max-height: 20em;
}
/* headings */
.reactive-table .sortable {
  color: #0072bb;
}

/* data inside the table */
#table-container {
  color: #0072bb;
}

table {
  border-color: red;
}

.thumbnail {
  margin-bottom: 0;
  cursor: pointer;
}
/*********************************************************************************/
/* NAVBAR                                                                        */
/*********************************************************************************/
.navbar {
  background-color: #ffdf00;
}

.navbar a {
  font-weight: 500;
  letter-spacing: 2px;
}

/* GENERAL NAV BAR TEXT */
.navbar-default .navbar-brand,
#navbar-collapse > ul > li > a {
  color: #0072bb; 
}

.navbar-default .navbar-brand,
.navbar-right {
  text-transform: uppercase;
}


#navbar-collapse > ul > li > a:hover {
  color: #f99621;
  background-color: #0072bb;
}

#navbar-collapse > ul:nth-child(n) > li.dropdown.open {
  color: #f99621;
  background-color: #0072bb;
}

.dropdown-menu {
  background-color: #82c13f !important;
}



/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
header
{
  margin-bottom: 1em;
}

  header p
  {
    display: block;
    margin: 0.5em 0 0 0;
    padding: 0 0 1.5em 0;
  }

  #header
  {
    position: relative;
    color: #252175;
    text-shadow: 0 0 0.5px rgba(255,255,255,0.25);
    text-align: center;
    margin: 0;
    padding: 7em 0 7em 0;
    cursor: default;
  }

  #header #logo {
    width: 100%;
  }
    #header span { color: #009ae2 }

    #header span#two { color: #f99621 }
    #header span#zero { color: #ffdf00 }
    #header span#one { color: #82c13f }
    #header span#four { color: #0072bb }
    
    #header header,
    body > div:nth-child(2) > div > div > div.row.row-centered > div > form > div
    {
      display: inline-block;
      padding: 3.0em 3.0em 4.5em 3.0em;
      border-radius: 30px;
      background: rgb(255,255,127); /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMjElIiBzdG9wLWNvbG9yPSIjZmZmZjdmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODUlIiBzdG9wLWNvbG9yPSIjYTBiNWQ4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,127,1) 21%, rgba(160,181,216,1) 85%); /* FF3.6+ */
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(21%,rgba(255,255,127,1)), color-stop(85%,rgba(160,181,216,1))); /* Chrome,Safari4+ */
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,127,1) 21%,rgba(160,181,216,1) 85%); /* Chrome10+,Safari5.1+ */
      background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,127,1) 21%,rgba(160,181,216,1) 85%); /* Opera 12+ */
      background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,127,1) 21%,rgba(160,181,216,1) 85%); /* IE10+ */
      background: radial-gradient(ellipse at center,  rgba(255,255,127,1) 21%,rgba(160,181,216,1) 85%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff7f', endColorstr='#a0b5d8',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    }
    
      #header header h1
      {
        font-weight: 600;
        font-size: 2em;
        letter-spacing: 10px;
      }

      #header header p
      {
        border-top: solid 1px rgba(255,255,255,0.5);
        color: rgba(255,255,255,0.75);
        text-shadow: 0 0 0.5px rgba(255,255,255,0.1875);
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 0;
        margin-top: 0.35em;
      }
      
        #header header p:before
        {
          content: '';
          display: block;
          border-top: solid 1px rgba(255,255,255,0.5);
          margin: 4px 0 0.8em 0;
        }


/*********************************************************************************/
/* CODES                                                                        */
/*********************************************************************************/
#codes {
  float: right;
}

/*********************************************************************************/
/* GLOBAL TEXT                                                             */
/*********************************************************************************/
.contact-text {
  color: #0072bb;
  text-shadow: 0 0 0.5px rgba(255,255,255,0.15);
  font-weight: 500;
  letter-spacing: 2px;
}

.contact-header {
  padding: 3em 0 3em 0 !important;
}

#codes, 
.footer,
#charges {
  color: #0072bb;
  text-shadow: 0 0 0.5px rgba(255,255,255,0.15);
  font-size: 0.7em;
}

/*.form-control:focus, .form-control:focus + span .btn{
    border-color:#ffdf00;
    box-shadow:none;
}*/

.form-control:focus {
  border-color: #ffdf00;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(255,223,0, 0.5), 0 0 8px rgba(255,223,0, 0.2);
          box-shadow: inset 0 1px 1px rgba(255,223,0, 0.5), 0 0 8px rgba(255,223,0, 0.2);
}

#contact-container {
  color: #252175;
  text-shadow: 0 0 0.5px rgba(255,255,255,0.25);
  text-align: center;
  padding: 4em 0 4em 0;
  cursor: default;
}

#mapleleaf img {
  max-width: 2em;
  float: left;
}

@media (max-width: 1180px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}


.modal-megamenu {
    width:80%;
    margin: 3% auto;
}
.modal-body {
    max-height:600px;
    overflow:auto;
}
.modal-content {
    height: 100%;
}

#modalImage {
  width: 80%;
  margin: 10%;
}

.modal-title {
  text-align: center;
}

.filter-button-container button {
  margin: 4px;
}

@media (max-width: 500px) {
  
  .btn-responsive {
    padding: 2px 4px;
    font-size: 90%;
    line-height: 1.25;
    border-radius: 3px;
  }
}