<template name="latexMenu">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Qualatex® Latex<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{{pathFor 'roundballoons'}}">One-Colour Print</a></li>
      <li><a href="{{pathFor 'heartballoons'}}">Heart Balloons</a></li>
      <li><a href="">Super Agates</a></li>
      <li><a href="">Globe Balloons</a></li>
      <li><a href="">Multi-Colour Print</a></li>
      <li><a href="{{pathFor 'quicklinkround'}}">QuickLinks</a></li>
      <li><a href="{{pathFor 'adwrap' }}">AdWrap® Balloons</a></li> 
      <li><a href="{{pathFor 'adwave' }}">AdWave® Balloons</a></li>
      <li><a href="">Giant Balloons & Accessories</a></li>
    </ul>
  </li> <!-- end dropdown 1 -->
</template>