<template name="adriteeconomyline">
  <div class="container">

    <div class="row">
      {{> adriteheader }}
    </div>
      
    <div class="row">
      {{> reactiveTable collection=adriteeconomyline settings=settings}}
    </div>

    <div class="row">
      {{> rush}}
    </div>
    
    <div class="row">
      {{> yield region='charges'}}
    </div>
  </div>
  
</template>

<template name="adriteheader">
  
  <h1>AdRite™ Balloons – Economy Line</h1>

  <p>AdRite balloons are ideal for special, price-sensitive promotions demanding a low-cost, printed balloon.  They are made of 100% natural latex and are available in two sizes – 9" and 11".  AdRite balloons are available in the most popular balloon colours featuring the same IMPRESS II® print as Qualatex® latex balloons.</p>

  <h5>The prices below include balloons with one-colour/one-side imprint Impress II® print; add any additional charges.</h5>

  <aside>Price Per Balloon $CAD <span>2ABCD</span></aside>


</template>




