<template name="geninfo">
  <h1>General Information</h1>  
  <h3>General Ordering Information</h3>
  <ul>
    <li>Catalogue Pricing –Prices, terms, and items are subject to change without notice. If world events force increases, we reserve the right to change our rates without notice. This catalogue is not an offer to sell, and any order may be declined.</li>
    <li>Credit Claims: Claims covering defective merchandise and shipping errors must be submitted in writing and accompanied by sample within 30 days of receipt of order. Returned merchandise must have prior authorization number displayed on return carton.</li>
    <li>Print Direction - Each balloon is printed to be read with neck down. Clearly specify if print is to be positioned otherwise.</li>
    <li>Production Time - Please clearly indicate delivery date required on your order. Allow up to two additional working days for separation of art. Additional time will be required for insertion of ProLite® Balloon Valves in latex balloons, and any special packaging. The amount of time will depend on the size of the order.</li>
    <li>Shipping/Packaging - All orders are shipped by best method. If another ship method is authorized, please indicate on order. Split shipments of quantities less than normal order minimums may incur additional charges; contact Customer Service for details. Pre-addressed, self-adhesive mailing labels for drop shipments must be supplied. All orders are shipped F.O.B Hamilton, Ontario. All shipping weights include carton. Special packaging is available. Contact Customer Service for quotations.</li>
    <li>Overruns/Underruns - All latex balloon orders, Punch Balls, Beach Balls and Mini Sports Balls are subject to 5% overrun/underrun and will be invoiced accordingly. Microfoil® orders are subject to 10% overrun/underrun and will be invoiced accordingly.</li>
    <li>Order Changes or Cancellation - Changes or cancellation of orders in production will result in additional charges.</li>
  </ul>

  <p>Applications Accepted: Adobe Illustrator® CS4 or below</p>
  <p>File Formats: PDF, AI or EPS (Vector)</p>





  <h3>Electronic Files</h3>
  <ul>
    <li>Distributor name and purchase order number must appear in the subject line of the e-mail. A hard copy, PDF, JPG or TIFF of the imprint must accompany the purchase order for verification. Files will be opened within 24 hours. The maximum file size we can receive via e-mail is 2 MB. Multiple files and any large vector files should be compressed. Use either STUFFIT or ZIP archives. The files must be line art/vector image in Adobe Illustrator CS4 or lower, as PDF,AI, or EPS files. Quark files are not accepted. Grey scale or colour Bitmap images may be subject to artwork charges.</li>
    <li>Colour Separations - For artwork to be reproduced in more than one colour, provide separate line art/vector image file for each colour. Files must contain separated black art only. Include a hard copy or other diagram indicating the colour breakdown and the name of the individual colour file in a descriptive, self explanatory manner. Customer-supplied artwork should be production-ready and no smaller than 5” x 5” for latex balloons, and 6” x 6” for Microfoil® balloons. Art will be sized to the maximum imprint area of the balloon selected.</li>
    <li>Media Requirements - CDs and DVDa are accepted.</li>
    <li>Laser -Generated Art - Should be minimum 800 DPI.</li>
    <li>Black-and-White Line Art - (i.e., graphics and text) that is sharp in detail and not folded, wrinkled, ect. Fax transmissions are not considered production-ready art.</li>
    <li>Fonts & Straight-Line Copy -Fonts incorporated in artwork must be converted to curves OR paths. No type should be less than 4 points. Bold sans-serif fonts are recommended for small type. All rules and outlines should be 1 point or greater. A maximum of four to five short lines of copy are recommended for layout selection will be made for best effect. A charge will apply if straight-line copy is changed or added to a logo on file.</li>
    <li>Halftones and Line Screens - Halftones are printed at 35 lines per inch on latex balloons and 32 lines per inch on Microfoil balloons. Halftones on Beach Balls require approval of artwork and are printed at 30 lines per inch.</li>
  </ul>

  <p>Applications Accepted: Adobe Illustrator® CS4 or below</p>
  <p>File Formats: PDF, AI or EPS (Vector)</p>


  <h1>Qualatex® Latex ordering Information</h1>
  <ul>
    <li>When choosing balloon and ink colour combinations, consider the effect of the balloon colour when combined with the ink colour, particularly when printing on an assortment of balloon colours. A change of ink may be required for desired result. Colours can be custom-blended. The Pantone Matching System (PMS) colour numbers are used as a point of reference only. Exact PMS colour matches cannot be guaranteed. Custom ink blends are not inventoried. Latex inks are compared to uncoated PMS ink colours.</li>
    <li>Latex Stock Ink Colours (Uncoated) - Black. White, Red (#199-200),Yellow (#102), Royal Blue (#286-287), Brown (#463-464), Orange (#165-166), Pink (#218-219), Purple (#526),Burgundy(#208-209), Teal (#320), Lime (#368), Green (#341-342), Gold (#872) and Silver (#877).</li>
    <li>Black ink is recommended on the Standard Colour Assortments. White Ink is recommended on the Jewel Assortments.</li>
  </ul>


  <h1>Microfoil® Ordering Information</h1>
  <ul>
    <li>Microfoil Screen Print Ink Colours (Coated) - Pantone Ink Colours: Yellow (#109), Orange (#1655), Fire Red (#186), Burgundy (#202), Purple (#2603), Green (#341), Blue (#300), Pantone Rubine Red, Pantone Rodamine Red, and Pantone Reflux Blue. Other ink colours include: Black, White, Silver & Gold.</li>
    <li>Microfoil Flexographic Print Ink Colours (Coated) - A large inventory of standard flexographic inks is offered at no additional charge.</li>
    <li>Microfoil Flexographic Print - For spot print, submit art as a layered AI or EPS file. Pantone colours should be noted on incoming art file(s).</li>
    <li>For process print, submit art as a layered Adobe Photoshop® file - If flat art is submitted, extra prep charges may apply.</li>
  </ul>

   <p><i class="fa fa-warning"></i>Children under 8 years can choke or suffocate on uninflated or broken balloons. Adult supervision required.  Keep uninflated balloons from children. Discard broken balloons at once.</p>

   <p><i class="fa fa-warning"></i>Latex balloons are made of natural rubber latex, which may cause allergic reactions.</p>
</template>
