<template name="microfoilvalved1820">  
  <div class="container">
    <div class="row">
      <h3>18” and 20” Valved Balloons: One-Side Print</h3>
      {{> reactiveTable collection=microfoilvalved1820 settings=settings}}
    </div>

    <div class="row">
        <h3>36” Valved Balloons: One-Side Print</h3>
        {{> microfoilvalved36 }}
    </div>

    
    <div class="row">
      <h5>Note:  Helium-filled Microfoil balloons may not float in altitudes exceeding approximately 3,000 feet.</h5>
      {{> yield region='charges'}}
    </div>
  </div>
</template>