<template name="popupbanners">

    <div class="container">

        <div class="row">
            <h1>Pop-Up Banners</h1>

            <h4>Displaying your message has never been so quick and easy. The uniquely designed Pop-up Banners are a quality low cost alternative to traditional banners and signs, and will bring a modern look to any campaign. They are quick and easy to use and come with their own carrying case.</h4>
            <h5>The Price below include same imprint on all banner panels, spring metal frame, ground stake and carrying case.  Full Colour dye-sublimation print</h5>
            <aside>Price per Piece  5C</aside>

        </div>

        <div class="row">
            {{> reactiveTable collection=popupbanners settings=settings}}
        </div>
        <aside>For different imprint on second side or third panel: Add $40.00(C) per unit.</aside>

    </div>

    <div class="container">
        <div class="row">
            {{> popupextra}}

        </div>
    </div>

</template>

<template name="popupextra">

<h4>Accessories:</h4>

    <ul>
      <li><strong>Canvas Drawstring Weights</strong> (#50332) $14.85 set of 4. </li>
      <li><strong>Sand not included.</strong> For indoor or outdoor use to stabilize the banner.</li>
    </ul>
    
    <section>
        <p><strong>Shipping</strong>F.O.B: Miami Florida. Duty and Brokerage may apply</p>
        <p>Approx. 3-4 business weeks from confirmed order and sketch approval</p>
    </section>
</template>