<template name="promoflags">
  
  <div class="container">
    
    <div class="row">
      {{> promoflagscontent}}
      
    </div>

    <div class="row">
      {{> econflags}}
    </div>

  </div>

</template>


<template name="promoflagscontent">
  <h1>Promotional Flags</h1>
    <h4>Prices below include flags with same design one-side digital imprint with mirror image on second side</h4>

    <h3>Promotional Bow Flags </h3>
    <aside>Price per Piece  5C</aside>

    <img src="2014flagsredone.psd" alt="">


    <div class="row">
      {{> reactiveTable collection=promoflags settings=settings }}
    </div>

    <h4>Accessories:</h4>

    <ul>
      <li><strong>Metal Cross Bar Base with Ground Stake and Rotating Ball Bearing Stem (# 31181) $45.75 each</strong>.  For Indoor or Outdoor use. If using outdoors, we recommend purchasing the PVC Water Weight Bag</li>
      <li><strong>PVC Water Weight Bag (# 31186) $9.00 each.</strong>  For use with Metal Cross Bar Base</li>
      <li><strong>Extra Ground Stake (# 31180) $27.50 each.</strong>  Equipped with Rotating Ball Bearing Stem</li>
    </ul>
</template>

<template name="econflags">
  <h1>Economy Flags</h1> 
  <aside>Price per Piece  4C</aside>
  
  <img src="2014econoflags.jpg" alt="">
  
  <div class="row">
      {{> reactiveTable collection=econflags settings=settings }}
    </div>
  
  <p><strong>*</strong> same design one-side digital imprint with mirror image on second side</p>

  <p><strong>**</strong> Price includes flags with same design digital imprint on 2 side</p>

  <section>
    <p><strong>Shipping</strong> F.O.B: Miami Florida. Duty and Brokerage may apply</p>
    <p>Approx. 3-4 business weeks from confirmed order and sketch approval</p>
  </section>

</template>