<template name="quicklinkonecolour">

  <div class="row">
    {{> qlroundheader}}  
  </div>
  <div class="row">
    {{> reactiveTable collection=quicklinkonecolour settings=settings}}
  </div>
  

  <div class="row">
    {{> qlroundfooter}}
    {{> yield region='charges'}}
  </div>
</template>


<template name="qlroundheader">
  <h1>QuickLink One-Colour Print Balloons</h1>

  <h5>Round Balloons One-Colour/Two-Side Same IMPRESS II® Print</h5>

  <aside>Price Per Balloon $CAD <span>3A</span></aside>

</template> 

<template name="qlroundfooter">
  <p>The prices above include balloons with a one-colour/two-side same Impress II® print; add additional charges</p>
</template> 

