<template name="roundballoons">
  
  <div class="row">
    {{> roundheader}}  
  </div>

  <div class="container-fluid">
    <div class="row">
        
    </div>
  </div>
  
  <div class="row">
    {{> reactiveTable collection=roundballoons settings=settings}}
  </div>

  <div class="row">
    {{> colourassortment}}
  </div>

  <div class="row">
    {{> yield region='charges'}}
  </div>
</template>


<template name="roundheader">
  <h1>Latex One-Colour Print Balloons</h1>

  <p>The prices below include balloons with a one-colour/two-side same Impress II® print; add additional charges</p>

  <aside>Price Per Balloon $CAD <span>4ABCD</span></aside>
    
</template> 
