<template name="roundballoons">
  
  <div class="row">
    {{> roundheader}}  
  </div>

  <div class="container-fluid">
    <div class="row">
        {{> projectImageModal}}
    </div>
  </div>
  
  <div class="row">
    {{> reactiveTable collection=roundballoons settings=settings}}
  </div>

  <div class="row">
    {{> colourassortment}}
  </div>

  <div class="row">
    {{> yield region='charges'}}
  </div>
</template>


<template name="roundheader">
  <h1>Latex One-Colour Print Balloons</h1>

  <p>The prices below include balloons with a one-colour/two-side same Impress II® print; add additional charges</p>

  <aside>Price Per Balloon $CAD <span>4ABCD</span></aside>
    
</template> 

<!-- A modal that contains the bigger view of the image selected -->
<template name="foo">
  <div class="modal fade in" id="projectImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h1>Image here</h1>
          
        </div>
      </div>
    </div>
  </div>
</template>


<template name="projectImageModal">
  <div class="modal fade">
    <div class="modal-dialog modal-megamenu">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                 <h4 class="modal-title"></h4>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-primary">close</button>
        </div>
    </div>
</div>

</template>