<template name="colourassortment">
  <h4>QUALATEX COLOUR ASSORTMENTS </h4>

  <p><strong>Rainbow Assortment/L05 – Standard Colours:</strong> Red, Yellow, Orange, Pink, Pale Blue (Black ink is recommended)</p>
  <p><strong>Primary Colour Assortment/L2D – Standard Colours:</strong> Dark Blue, Green Red, Orange, Yellow (White ink is recommended)</p>
  <p><strong>Radiant Jewel Assortment/L75 –</strong> Quartz Purple, Sapphire Blue, Emerald Green, Ruby Red, Citrine Yellow (White ink is recommended.)</p>
  <p><strong>Radiant Pearl Assortment/L78 (12" Only) –</strong> Pearl Sapphire Blue, Pearl Emerald Green, Pearl Ruby Red, Pearl Citrine Yellow, Pearl Quartz Purple (White ink is recommended.)</p>
  <p>Assortments of any combination of colours are available and, unless otherwise specified, colours are assorted in bag.</p>
  <p>Other stock colour assortments available.  Contact Customer Service.</p>
</template>