<template name="contact">

    <div id="contact-container">
        <div class="row contact-text">
            <div class="container">

                <div class="col-md-3">
                    <!-- placeholder for grid -->
                </div>
                <div class="col-md-6">

                    <fieldset>
                        <legend class="contact-text"><h1>Contact Form</h1></legend>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    {{text_field 'name'}}
                                </div>
                                
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{text_field 'email' label='Email' required='required'}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{text_field 'telephone' }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    {{text_area 'message' }}
                                </div>
                                <p><button href="#" class="btn btn-success btn-block">SUBMIT</button></p>    
                            </div>
                        </div>
                    </fieldset>

                    <hr>


                    <section>
                        <h3>Pioneer Balloon Canada Ltd </h3>
                        <div>
                            <h4>905-888-9999</h4>
                            <h4>orders.canada@pioneerballoon.com</h4>
                        </div>
                        <div>
                            
                            <p>333 Kenora Ave  <br>
                            Hamilton, ON  <br>
                            L8E 2W3 
                            
                            </p>
                        </div>
                    </section>




                </div>
                <div class="col-md-3">
                    <!-- placeholder for grid -->
                </div>


            </div>

        </div>
      </div>

</template>