<template name="filterbuttons">
  <div class="filter-button-container">
      <button id="Standard" type="submit" name="Standard" class="btn btn-warning pull-right">Standard</button>
    <button id="Jewel" type="submit" name="jewel" class="btn btn-warning pull-right">Jewel</button>
    <button id="Metallic" type="submit" name="Metallic" class="btn btn-warning pull-right">Metallic</button>
    <button id="Agate" type="submit" name="Agate" class="btn btn-warning pull-right">Agate</button>
    <button id="Globe" type="submit" name="Globe" class="btn btn-warning pull-right">Globe</button>
  </div>
  
</template>  

