<template name="footer">
  <div class="container">
    <div class="row">
      <div class="footer">
        <footer>
          <strong>Prices in Canadian dollars. Prices effective through December 31, 2014. <a href="{{pathFor 'geninfo'}}">Disclaimer</a></strong>
          <p>These trademarks can be used only with the appropriate permission:
          AdMax™, AdPunch™, AdRite™, AdWave®, AdWrap®,  IMPRESS II®, IMPRESS V™, Microfoil®, Qualatex®, SuperAgate®, and Wrap Around IMPRESS II®. 
          </p>

        </footer>
      </div>    
    </div>
  </div>
</template>