<template name="footer">
  <div class="container">
    <div class="row">
      <div class="footer">
        <footer>
          <strong>Prices in Canadian dollars. Prices effective through December 31, 2014.</strong>
          <p>Canada © 2014 PBC. The material on this site is protected by international copyright and trademark laws.</p>
          <p>These trademarks can be used only with the appropriate permission: ©PBC. All rights reserved.</p>
          <p>Ad Inflatable™ Displays, AdMax™, AdPunch™, AdRite™, AdWave®, AdWrap®, Cloudbuster™, Cool Aire® II IMPRESS II®, IMPRESS V™, Microfoil®, Pioneer®, ProLite®, Qualatex®, Quickie Clip®, QuickLink Balloons™, SuperAgate®, Wrap Around IMPRESS II®.</p>
        </footer>
      </div>    
    </div>
  </div>
</template>