<template name="rush">
  <div id="rush-container" class="row">
      <h4>RUSH ORDER SERVICE 24 HR QUICK SERVE!</h4>
      <h5>Rush orders are available as our production schedule allows, please contact Customer Service for details.</h5>
      <ul>
        <li>For latex orders up to 5,000 balloons:</li>
        <ul>
          <li>Ship in 1 Day add - $80.00(A)</li>
          <li>Ship in 2 Days add - $50.00(A)</li>
        </ul>
      </ul>

      <ul>
        <li>Complete order and approved art must be received by NOON ET at factory.</li>
        <li>Stock ink colours ONLY.</li>
        <li>Proof request will add production time to rush orders</li>
        <li>Please contact Customer Service on orders of more than 5,000 balloons.</li>
      </ul>
  </div>
</template>